<h1>Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %> 
    </li>
    <li>
      <%= button_to "Delete this Restaurant", restaurant, method: :delete, class: "destroy-button", data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= button_to "Logout", logout_path, method: :delete, class: "logout-button" %>

<a class="color" href="/add_staff">Add a Staff</a>
